@inherits LayoutComponentBase
@layout AccountLayout
<PageTitle>Портал ВШЦТ</PageTitle>
<h1>Настройки аккаунта</h1>

<div>
    <h2>Изменение настроек аккаунта</h2>
    <hr />
    <div class="manage-row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
