html, body {
    font-family: 'JetBrains Mono', Helvetica, Arial, sans-serif;
    background-color: #D6E7FA; /* Светло-голубой цвет */
    height: 100%; /* Занимать всю высоту экрана */
    margin: 0; /* Убрать отступы по умолчанию */
    overflow: auto;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}


a, .btn-link {
    color: #150B34;
}

.btn-primary {
    color: #fff;
    background-color: #5A85A6;
    border-color: #5A85A6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.nav-scrollable {
    background-color: #5A85A6 !important; /* Устанавливаем цвет фона */
    color: #ffffff; /* Устанавливаем цвет текста */
}

.navbar {
    background-color: #5A85A6 !important; /* Устанавливаем цвет фона */
    color: #ffffff; /* Устанавливаем цвет текста */
}

.nav-link {
    background-color: #1B4780 !important; /* Устанавливаем цвет фона */
    color: #ffffff; /* Устанавливаем цвет текста */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    overflow: hidden; /* Скрывает текст, который выходит за пределы элемента */
    text-overflow: ellipsis; /* Добавляет "..." в конце обрезанного текста */
    display: block; /* Необходим для работы text-overflow: ellipsis; */
    width: 100%;
}

.nav-item {
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
    overflow: hidden; /* Скрывает текст, который выходит за пределы элемента */
    text-overflow: ellipsis; /* Добавляет "..." в конце обрезанного текста */
    display: block; /* Необходим для работы text-overflow: ellipsis; */
    margin: 1px;
}

.page {
    background-color: #D6E7FA !important; /* Устанавливаем цвет фона */
    color: #1B4780; /* Устанавливаем цвет текста */
    flex-wrap: wrap
}

.top-row {
    background-color: #5A85A6 !important; /* Устанавливаем цвет фона */
    color: #1B4780; /* Устанавливаем цвет текста */
}

.container-fluid {
    background-color: #5A85A6 !important; /* Устанавливаем цвет фона */
    color: #ffffff; /* Устанавливаем цвет текста */
}


.navbar-brand {
    color: #ffffff; /* Устанавливаем цвет текста */
    margin-left: 35px;
}

.top-row ps-3 navbar navbar-dark {
    background-color: #5A85A6 !important;
}

.sidebar {
    background-color: #5A85A6 !important;
}

.navbar-dark .navbar-brand {
    background-color: #5A85A6 !important;
    color: #ffffff; /* Устанавливаем цвет текста */
}

.btn-idea {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: right;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #5A85A6 !important;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    border-radius: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
}

.quickgrid.table {
    background-color: #5A85A6;
    color: white; /*  Белый текст на фиолетовом фоне обычно хорошо смотрится */
    /* Добавьте другие стили, которые вам нужны, например: */
    padding: 8px; /* Отступы вокруг текста */
    text-align: left; /* Выравнивание текста по левому краю */
    margin-top: 20px;
}

select[multiple] {
    min-height: 150px;
    padding: 10px;
}

.form-group {
    margin-bottom: 1.5rem;
}

    .form-group label {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Занимает всю высоту экрана */
    background-color: #D6E7FA; /* Светло-голубой фон */
}

.title-container {
    background-color: #5A85A6; /* Синий цвет плашки */
    color: white;
    padding: 40px;
    border-radius: 100px; /* Закругленные края */
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

    .title-container h1 {
        font-size: 5em;
        margin: 0;
        padding: 0;
    }

.buttons-container {
    display: flex;
    gap: 50px; /* Расстояние между кнопками */
}

.auth-button {
    display: inline-block;
    background-color: #5A85A6;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
}

    .auth-button:hover {
        background-color: #1B4780; /* Более темный оттенок при наведении */
        color: white;
        text-decoration: none;
    }

.auth-container {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box
}

.login-row {
    width: 100%; /* Установите желаемую ширину (например, 80% от ширины экрана) */
    max-width: 600px; /* Ограничьте максимальную ширину, чтобы не было слишком широко на больших экранах */
    text-align: center; /* Центрируем текст внутри контейнера */
    flex-direction: column;
    margin: 0 auto; /* Центрируем по горизонтали */
    padding: 20px; /* Добавляем внутренний отступ для красоты */
    box-sizing: border-box;
}
.col-md-4 {
    width: 100%; /* Установите желаемую ширину (например, 80% от ширины экрана) */
    max-width: 600px; /* Ограничьте максимальную ширину, чтобы не было слишком широко на больших экранах */
    text-align: center; /* Центрируем текст внутри контейнера */

    flex-direction: column;
    margin: 0 auto; /* Центрируем по горизонтали */
    padding: 0; /*Уберем  padding*/
    box-sizing: border-box;
}
.login-row h1 {
    margin-bottom: 50px;
    font-size: 5em;
    text-align: center;
}

.col-md-4 h2 {
    color: #150B34;
    font-size: 1.5em;
}
.vshct-form {
    position: relative; /* Необходимо для позиционирования label */
    width: 500px; /* Задайте желаемую ширину */
    margin: 20px auto; /* Центрируем по горизонтали */
    border-radius: 1rem;
    box-sizing: border-box;
}

    .vshct-form .form-control {
        width: 100%;
        height: 75px; /* Задайте желаемую высоту */
        padding: 10px;
        font-size: 1.5em;
        border-radius: 2rem;
        background-color: #5A85A6; /* Цвет фона плашки */
        color: white; /* Цвет текста */
        text-align: center; /* Выравниваем текст по центру */
        transition: all 0.2s ease; /* Добавим плавный переход */
        box-sizing: border-box;
    }

        .vshct-form .form-control:focus {
            outline: none;
            box-shadow: none;
            display: flex; /* Используем flexbox для вертикального выравнивания */
            text-align: center;
            box-sizing: border-box;
        }

            .vshct-form .form-control:focus::placeholder {
                color: white; /* Делаем placeholder видимым при фокусе */
                display: flex; /* Используем flexbox для вертикального выравнивания */
                text-align: center;
                box-sizing: border-box;
            }

    /* Скрываем Label при фокусе */
    .vshct-form label {
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 100%;
        color: white; /* Цвет текста */
        font-size: 1.5em;
        pointer-events: none; /* Предотвращаем перехват кликов label */
        transition: all 0.2s ease;
        z-index: 1; /* Размещаем label поверх input */
    }

    /* Стили для label, когда input в фокусе или имеет значение */
    .vshct-form .form-control:focus + label,
    .vshct-form .form-control:not(:placeholder-shown) + label {
        opacity: 0; /* Скрываем label */
    }

    /* Стили для placeholder */
    .vshct-form .form-control::placeholder {
        color: transparent; /* Изначально скрываем placeholder */
        transition: color 0.2s ease; /* Добавим плавный переход для цвета */
    }

.login-button {
    width: 500px;
    display: inline-block;
    background-color: #5A85A6;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .login-button:hover {
        background-color: #1B4780; /* Более темный оттенок при наведении */
        color: white;
        text-decoration: none;
    }

.register-button {
    width: 500px;
    display: inline-block;
    background-color: #5A85A6;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
    margin-top: 50px;
    text-align: center;
}

    .register-button:hover {
        background-color: #1B4780; /* Более темный оттенок при наведении */
        color: white;
        text-decoration: none;
    }

    
.form-label {
    color: #150B34;
}
.login-register {
    margin-top: 20px;
    color: #150B34;
    text-decoration: none;
    display: inline-block;
}

body-login {
    font-family: 'JetBrains Mono', Helvetica, Arial, sans-serif;
    background-color: #D6E7FA; /* Светло-голубой цвет */
    height: 100%; /* Занимать всю высоту экрана */
    margin: 0; /* Убрать отступы по умолчанию */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    flex-direction: column;
}

.bg-primary {
    background-color: #1B4780 !important;
}

.details-container {
    background-color: #ffffff;
    color: #150B34;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 50%;
    min-width: 50rem;
}

.details-button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.details-row {
    width: 100%;
    margin-bottom: 20px; /* Отступ перед кнопками */
}

.register-confirm-button {

    display: inline-block;
    background-color: #5A85A6;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2em;
    transition: background-color 0.3s ease;
    text-align: center;
}
.form-floating mb-3{

}
.manage-row{
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    align-content:flex-start;
    display:flex;
    flex-wrap:nowrap;
}
.col-md-3{
    width:auto;
}
.col-md-9 {
   
    margin-left:10px;
    
}