@page "/projects/create"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using VSHCTwebApp.Components.Models
@using VSHCTwebApp.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory
@inject NavigationManager NavigationManager



<h1>Create</h1>

<h2>Project</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Project" OnValidSubmit="AddProject" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Название:</label>
                <InputText id="title" @bind-Value="Project.Title" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Проблема:</label>
                <InputTextArea id="description" @bind-Value="Project.Problem" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.Problem" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Предлагаемое решение:</label>
                <InputTextArea id="description" @bind-Value="Project.Solution" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.Solution" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Ожидаемый результат:</label>
                <InputTextArea id="description" @bind-Value="Project.Result" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.Result" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание необходимых ресурсов для реализации:</label>
                <InputTextArea id="description" @bind-Value="Project.DescrNeededResurses" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.DescrNeededResurses" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Стек технологий:</label>
                <InputTextArea id="description" @bind-Value="Project.StackTech" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Project.StackTech" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/projects">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Project Project { get; set; } = new();

    private async Task AddProject()
    {
        using var context = DbFactory.CreateDbContext();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        Project.CreatedBy = $"{user.LastName} {user.FirstName}";
        Project.CreatedByEmail = $"{user.UserName}";

        context.Project.Add(Project);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects");
    }
}
