@page "/projects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using VSHCTwebApp.Components.Models
@using VSHCTwebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory



<h1>Биржа проектов
    <AuthorizeView Policy="ClientOrAdmin">
        <Authorized Context="authContext">
            <a href="projects/create" class="btn-idea btn-primary" style="float: right;">Добавить проект</a>
        </Authorized>
        <NotAuthorized Context="authContext">

        </NotAuthorized>
    </AuthorizeView>
    
</h1>



<QuickGrid Class="table" Items="context.Project">
    <TemplateColumn Title="Название" Context="project">
        <a href="@($"projects/details?id={project.Id}")" class="text-decoration-none">@project.Title</a>
    </TemplateColumn>
    <PropertyColumn Property="project => project.CreatedBy" Title = "Кем создано"/>
    <PropertyColumn Property="project => project.ConfermedBy" Title = "Кем одобрено"/>

</QuickGrid>

@code {
    private VSHCTwebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
