@page "/notes/create"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using VSHCTwebApp.Components.Models
@using VSHCTwebApp.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer



<h1>Предложить идею</h1>

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Note" OnValidSubmit="AddNote" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="title" class="form-label">Название:</label>
                <InputText id="title" @bind-Value="Note.Title" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Проблема:</label>
                <InputTextArea id="description" @bind-Value="Note.Problem" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.Problem" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Предлагаемое решение:</label>
                <InputTextArea id="description" @bind-Value="Note.Solution" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.Solution" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Ожидаемый результат:</label>
                <InputTextArea id="description" @bind-Value="Note.Result" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.Result" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Описание необходимых ресурсов для реализации:</label>
                <InputTextArea id="description" @bind-Value="Note.DescrNeededResurses" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.DescrNeededResurses" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Стек технологий:</label>
                <InputTextArea id="description" @bind-Value="Note.StackTech" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Note.StackTech" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Предложить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/notes">Вернуться</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Note Note { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddNote()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        Note.CreatedByEmail = user.UserName;
        Note.CreatedByName = $"{user.LastName} {user.FirstName}";
        Note.CreatedById = user.Id;
        Note.CreatedAt = DateTime.Now;
        using var context = DbFactory.CreateDbContext();
        context.Note.Add(Note);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/notes");
    }
}
