@page "/notes/edit"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore
@using VSHCTwebApp.Components.Models
@using VSHCTwebApp.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory
@inject NavigationManager NavigationManager



<h1>Изменить идею</h1>

<hr />
@if (Note is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Note" OnValidSubmit="UpdateNote" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Note.Id" value="@Note.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Название:</label>
                    <InputText id="title" @bind-Value="Note.Title" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Проблема:</label>
                    <InputTextArea id="description" @bind-Value="Note.Problem" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.Problem" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Предлагаемое решение:</label>
                    <InputTextArea id="description" @bind-Value="Note.Solution" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.Solution" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Ожидаемый результат:</label>
                    <InputTextArea id="description" @bind-Value="Note.Result" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.Result" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание необходимых ресурсов для реализации:</label>
                    <InputTextArea id="description" @bind-Value="Note.DescrNeededResurses" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.DescrNeededResurses" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Стек технологий:</label>
                    <InputTextArea id="description" @bind-Value="Note.StackTech" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => Note.StackTech" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/notes">Вернуться</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Note? Note { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Note ??= await context.Note.FirstOrDefaultAsync(m => m.Id == Id);

        if (Note is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateNote()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Note!).State = EntityState.Modified;

        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = await UserManager.GetUserAsync(authState.User);
            Note.CreatedBy = user.UserName;
            Note.CreatedAt = DateTime.Now;
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!NoteExists(Note!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/notes");
    }

    private bool NoteExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Note.Any(e => e.Id == id);
    }
}
